extends ./base.jade

block title
	title Notifications

block content
	.col-md-3
	.col-md-6
		ul.list-group
			each notification in unviewed
				//Display the notification
				ul.list-group-item.list-group-item-info #{notification[2]}: 
					a(href=notification[1]) #{notification[0]}

			each notification in viewed
				ul.list-group-item #{notification[2]}: 
					a(href=notification[1]) #{notification[0]}
	.col-md-3