extends ./base.jade

block title
	title Contract #{result[0]}

block content
	.col-md-3
	.col-md-6
		.panel.panel-default.text-left(style="padding-left:2%")
			h1 #{result[0]}
			p Client:
				a(href='/profile/'+result[1]) #{result[1]}
			p Worker: 
				a(href='/profile/'+result[2]) #{result[2]}
			p Time: #{result[3]}
		//if status? = 
		.col-md-6
			a.btn.btn-lg.btn-success.btn-block(href='/contracts/'+id+'/accept') Accept
		.col-md-6
			a.btn.btn-lg.btn-danger.btn-block(href='/contracts/'+id+'/deny') Deny
	.col-md-3
