extends ./base.jade

block title
	title Contract #{result[0]}

block content
	script(src=url_for('static', filename='popup.js'))
	.col-md-3
	.col-md-6
		.panel.panel-default.text-left(style="padding-left:2%")
			h1 #{result[0]}
				button.btn.btn-xs.btn-primary(onclick="popup('/chat/"+"#{result[6]}"+";"+result[3]+"'); return false;") Chat
			p #{result[1]}
			p Client: 
				a(href='/profile/'+result[2]) #{result[2]}
			p Worker: 
				a(href='/profile/'+result[3]) #{result[3]}
			p Status: #{result[5]}
		if result[5] == 'pending'
			if session.user == result[3]
				.col-md-6
					a.btn.btn-lg.btn-success.btn-block(href='/contracts/'+id+'/accept') Accept
				.col-md-6
					a.btn.btn-lg.btn-danger.btn-block(href='/contracts/'+id+'/deny') Deny
		if result[5] =='accepted'
			if session.user == result[2]
				a.btn.btn-lg.btn-primary.btn-block(href='/contracts/'+id+'/complete') Complete
	.col-md-3
