extends ./base.jade

block title
	title Create Contract

block content
	//client, worker, service_id, title, description
	.text-left
	form(method='POST', action='/submitContract')
		.row
			.col-md-6
				.row.text-left
					.col-md-12
						h1 Create Contract
						h3 #{title}
						p #{description}
						p Address: #{address}
						input(type='hidden', name='service_id', value=service_id)
						input(type='hidden', name='worker_username', value=worker_username)

				.row
					.col-md-2
						button.btn.btn-primary.btn-block.btn-signin(type='submit') Submit