extends ./base.jade

block title
	title Contracts

block content
	if results
		each res in results
			.col-md-6
				ul.list-group
					h4.list-group-item.list-group-item-info
						a(href='/contracts/'+'#{res[0]}') Contract #{res[0]}
					p.list-group-item Client: 
						a(href='/profile/'+'#{res[1]}')
						#{res[1]}
					p.list-group-item Worker: 
						a(href='/profile/'+'#{res[2]}') #{res[2]}
					p.list-group-item Start Time: #{res[3]}
	else
		p No results found	