extends ./base.jade

block title
	title Requests

block content
	if requests
		each res in requests
			h2 
				a(href='/requests/'+'#{res[0]}') #{res[2]}
			p #{res[3]}
			p Time: #{res[4]}
			p Address: #{res[5]}
	else
		p No results found