extends ./base.jade

block title
	//Make this the username of the current user
	title #{username}

block content
	//Print the user
	.col-md-3
	.col-md-6
		.panel.panel-default.text-left(style="padding-left:2%")
			h1 #{username}
			p 
				b Email: 
				#{email}
			p 
				b Phone number: 
				#{phone}
			p 
				b Type: 
				#{type}
			if type == 'Worker'
				p 
					b Schedule:
					each day in days
						p #{day}
				p 
					b Average Rating:
					input.ratingInput#rating(type='number', min=0, max=5, value=rating, data-size='sm', readonly="readonly")
					span.badge.text-right #{numRatings} ratings
				p
					b Recent Reviews:
				each review in reviews
					p #{review[0]} 
						span.badge #{review[3]}
						if review[1] != None
							input.ratingInput(type='number', min=0, max=5, value=review[1], data-size='xxs', readonly="readonly")
						else
							br
						#{review[2]}
			br
			if session.user == username
				if session.type == 'worker'
					a(href='/schedule') Change Schedule
					br
				a(href='/profile/'+username+'/edit') Edit
				br
				a(href='/profile/'+username+'/delete') Delete
			p
	script(type='text/javascript').
		$(document).ready(function() {
			$(".ratingInput").rating({showCaption:false, showClear:false});
		});