extends ./base.jade

block title
	//Make this the username of the current user
	title #{username}

block content
	//Print the user
	.col-md-3
	.col-md-6
		.panel.panel-default.text-left(style="padding-left:2%")
			h1 #{username}
			p Email: #{email}
			p Phone number: #{phone}
			p Type: #{type}
			br
			if session.user == username
				if session.type == 'worker'
					a(href='/schedule') Change Schedule
					br
				a(href='/profile/'+username+'/edit') Edit
				br
				a(href='/profile/'+username+'/delete') Delete
			p