extends ./base.jade

block title
	title #{title}

block content
	.col-md-3
	.col-md-6
		.panel.panel-default.text-left(style="padding-left:2%")
			h1 #{title}
			p #{description}
			p Client: 
				a(href='/profile/'+client_username) #{client_username}
			p Time: #{schedule}
			p Address #{address}