extends ./base.jade


block title
	title #{title}

block content
	script(src=url_for('static', filename='popup.js'))
	.col-md-3
	.col-md-6
		.panel.panel-default.text-left(style="padding-left:2%")
			h1 #{title}
			p 
				b Tag: 
				span.badge #{tag}
			p #{description}
			p 
				b Address: 
				#{address}
			p 
				b Schedule:
			each day in days
				p #{day}
			p 
				b Workers:
			ul
			each worker in worker_names
				li
					form(method='post', action='/createContract')
						p
							a(href='/profile/'+worker[0]) #{worker[0]}
							if worker[1]
								input(type='hidden', name='worker', value=worker[0])
								input(type='hidden', name='service_id', value=id)
								a(href='/createcontract')
									button.btn.btn-xs.btn-primary Contract
								button.btn.btn-xs.btn-primary(onclick="popup('/chat/"+id+";"+worker[0]+"'); return false;") Chat

			if session.user == client_username
				p
				a(href='/requests/'+id+'/edit') Edit
				br
				a(href='/requests/'+id+'/delete') Delete
			p